<% @pairs.each do |pair| %>
  <p>
    <%= "#{pair[0].fullname if pair[0]}" %>
    <%= "... #{pair[1].fullname}" if pair[1] %>
  </p>
<% end %>

<%= button_to "Single Student", single_path, method: "get" %>
<%= button_to "Pair Again", pairs_path, method: "get" %>
